<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" type="image/icon" href="/static/img/favicon-burger/favicon.ico">
</head>
<body>

<h1>HELLO !</h1>

<ul>
    <li><a href="/admin">admin</a></li>
    <li><a href="/manager">manager</a></li>
    <li><a href="/auth1">auth1</a></li>
    <li><a href="/test">test</a></li>
    <li><a href="/login">login</a></li>
    <li><a href="/h2-console">H2 console</a></li>
    <li><a href="/alwaysdenied">alwaysdenied</a></li>
</ul>

</body>
</html>